# Series

In [9]:
import pandas as pd
x=[1,2,3,4,5,6]
var=pd.Series(x,index=["a","b","c","d","e","f"],dtype=float,name="Python")
print(var)
print(type(var))

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>

In [13]:
dic={"name":["python","c","c++","java"],"por":[23,44,55,66],"rank":[2,1,4,5]}
dic
var1=pd.Series(dic)
var1

name    [python, c, c++, java]
por           [23, 44, 55, 66]
rank              [2, 1, 4, 5]
dtype: object

In [14]:
s=pd.Series(23,index=[1,2,3,4,5,6,7])
s

1    23
2    23
3    23
4    23
5    23
6    23
7    23
dtype: int64

In [15]:
s1=pd.Series(23,index=[1,2,3,4,5,6,7])
s2=pd.Series(23,index=[1,2,3,4,5])
print(s1+s2)

1    46.0
2    46.0
3    46.0
4    46.0
5    46.0
6     NaN
7     NaN
dtype: float64