# Series

In [2]:
import pandas as pd
x=[1,2,3,4,5,6]
var=pd.Series(x,index=["a","b","c","d","e","f"],dtype=float,name="Python")
print(var)
print(type(var))

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>

In [3]:
dic={"name":["python","c","c++","java"],"por":[23,44,55,66],"rank":[2,1,4,5]}
dic
var1=pd.Series(dic)
var1

name    [python, c, c++, java]
por           [23, 44, 55, 66]
rank              [2, 1, 4, 5]
dtype: object

In [4]:
s=pd.Series(23,index=[1,2,3,4,5,6,7])
s

1    23
2    23
3    23
4    23
5    23
6    23
7    23
dtype: int64

In [5]:
s1=pd.Series(23,index=[1,2,3,4,5,6,7])
s2=pd.Series(23,index=[1,2,3,4,5])
print(s1+s2)

1    46.0
2    46.0
3    46.0
4    46.0
5    46.0
6     NaN
7     NaN
dtype: float64

# DataFrame

In [6]:
# import pandas as pd
x=[1,2,3,4,5,6]
var=pd.DataFrame(x,index=["a","b","c","d","e","f"])
print(var)
print(type(var))

   0
a  1
b  2
c  3
d  4
e  5
f  6
<class 'pandas.core.frame.DataFrame'>

In [7]:
d={"name":["python","c","c++","java"],"por":[23,44,55,66],"rank":[2,1,4,5],1:[1,2,3,4]}
var1=pd.DataFrame(d,columns=["name","rank",1])
var1
print(var1["name"][0])

python

# Write Csv

In [8]:
var1

     name  rank  1
0  python     2  1
1       c     1  2
2     c++     4  3
3    java     5  4

In [9]:

d={"name":["python","c","c++","java"],"por":[23,44,55,66],"rank":[2,1,4,5],1:[1,2,3,4]}
dic=pd.DataFrame(d)
dic.to_csv("Test.csv",index=False)

# Read CSV

In [10]:
csv_1=pd.read_csv("C:\\Users\\DELL\\Downloads\\test.csv")
csv_1

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

In [17]:
csv_2=pd.read_csv("C:\\Users\\DELL\\Downloads\\test.csv",nrows=5,usecols=["Name","Website","Country"])
csv_2

                      Name                         Website           Country
0              Ferrell LLC              https://price.net/  Papua New Guinea
1  Mckinney, Riley and Day  http://www.hall-buchanan.info/           Finland
2               Hester Ltd       http://sullivan-reed.com/             China
3           Holder-Sellers             https://becker.com/      Turkmenistan
4              Mayer Group          http://www.brewer.com/         Mauritius